# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log
logs/

# Environment variables
.env

# Virtual environments
venv/
env/
.venv/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
